@{
    var justLoggedIn = TempData["JustLoggedIn"] as bool?;
    var fullName = TempData["FullName"] as string;
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>MegaScan</h1>
    <p class="lead">
        Welcome to MegaScan!
        Melbourne's premier destination for MRI imaging services. Combining advanced technology with unparalleled expertise, we deliver clear, precise results for your health and peace of mind. Entrust your diagnostic journey with us
    </p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Book an appointment &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>View our branches</h2>
        <p>
            Discover MegaScan's premier MRI imaging services across Melbourne. Locate a branch nearby and experience our commitment to excellence.
        </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Get more libraries</h2>
        <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Web Hosting</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>

@section scripts {
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")

    <script src="~/Scripts/notify.min.js" defer></script>

    <script>
        $(document).ready(function () {
            // For testing

            $.notify.defaults({
                position: 'top-left'
            });
            //$.notify("Testing on notify JS - About Page", "success");

            // If the user just logged in, welcome them
            @if (justLoggedIn.HasValue && justLoggedIn.Value)
            {
                   
                <text>
                $.notify("Welcome back, " + '@fullName', "success");
                </text>
            }
        });
    </script>
}
